body
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/pink\ dust.png);
}
h2
{
    margin: 0;
    padding: 0;
    text-align: center;
}
p
{
    text-align: center;
}
.container
{
    position: relative;
    left: 50%;
    overflow: hidden;
    margin-top: 8px;
    padding: 5px;
    transform: translateX(-20%);
}

.container:before
{
    position: absolute;
    left: 20px;
    width: 8px;
    height: 100%;
    content: '';
    background-color: black;
}

.content
{
    position: relative;
    width: 500px;
    margin: 20px 60px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.content:before
{
    position: absolute;
    top: 50%;
    left: -10px;
    width: 20px;
    height: 20px;
    content: '';
    -webkit-transform: translate(-50%) rotate(45deg);
        -ms-transform: translate(-50%) rotate(45deg);
            transform: translate(-50%) rotate(45deg);
    background-color: #fff;
}

.content:after
{
    position: absolute;
    top: 43%;
    left: -41px;
    width: 30px;
    height: 30px;
    content: '';
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    border: 4px solid black;
    border-radius: 50%;
    background-color: #7b4d52;
}
